/* Dropdown Button */
.dropdown-toggle {
    background-color: #b388adcb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
   
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropdown-toggle {background-color: #8c90b3;}